html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  display: flex;
}
.heroContenedor{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoHero{
  position: absolute;
  object-fit: cover;
  height: 80vh;
  width: 100%;
  z-index: -1;
}
.bienvenida{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.mensaje{
  font-size: 3vh;
  background-color:rgb(255, 255, 255,0.5);
  padding: 1rem;
  }

.callToAction{
  height: 40vh;
  display: flex;
}

.carrousel{
  height: 60vh;
  background-color: lightskyblue;
}
.footer{

  height: 10vh;
  /* background-color:black; */
  
}

.copyright{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2vh;

}



