html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.body {
  display: flex;
}
/* SIDENAV */
/* .nav {
} */

.link {
  font-size: 1.3rem;
  position: relative;
  color: #000000 !important;
  text-decoration: none;
  background-image: linear-gradient(#000000, #000000);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s;
  width: 20%;
  text-align: start;
  padding: 0;
}

.link:hover {
  background-size: 100% 2px;
}
.responsive-navbar {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
.links {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.dropdown-toggle{
  padding: 0%;

}
.dropdown-toggle::after{
  padding: 0;
  content: none;  
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: sticky;
  top: 0%;
  background-color: #ffffff;
  height: 10vh;
  z-index: 2;
  -webkit-box-shadow: 0px 12px 19px 0px rgba(0, 0, 0, 0.79);
  box-shadow: 0px 12px 19px 0px rgba(0, 0, 0, 0.79);
}
/* HERO */
.heroContenedor {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoHero {
  position: absolute;
  object-fit: cover;
  height: 80vh;
  width: 100%;
  z-index: -1;
  border-radius: 0 0 85% 85% / 10%;

}
.bienvenida {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.mensaje {
  font-size: 3vh;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 1rem;
  text-align: center;
}

/* CALL TO ACTION */
.callToAction {
  height: 70vh;
  display: flex;
  background-color: #f7f7ff;

}
.texto-call {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.boton-call {
  background-color: #495867;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.boton-call:hover {
  background-color: #577399;
}

/* CARROUSEL */

.titulo-carrousel {
  background-color: #577399;
  color: #f7f7ff;
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0%;
  padding: 1rem;
}

.swiper{
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh 10vw 0 0;
  
}
.swiper-slide{
  height: 50vh !important;
  display: flex;
  flex-direction: column;
}

.img-carousel{
  height: 100%;
  width: 35vw;
  
}


/* FOOTER */
.footer {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #577399;
  color: white;
  
}
/* .link-footer{
  width: 20%;
} */
.copyright {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  /* font-weight: bold; */
  color: #ffffff;
}
.hover-footer{
  font-size: 1.2rem;
  position: relative;
  text-decoration: none;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s;
  /* width: 20%; */
  text-align: start;
  padding: 0;
}

.logos {
  padding: 1vh;
  background-color: white;
  border-radius: 30%;
}

.hover-footer:hover {
  background-size: 100% 2px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 425px) {
  .carousel-control-next-icon {
    display: none;
  }
  .carousel-control-prev-icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .footer-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .link-footer {
    display: flex;
    flex-direction: row;
  }
  .copyright {
    padding: 0.5rem;
    text-align: center;
  }
  .mensaje {
    margin-left: 10%;
    margin-right: 10%;
  }
  .alerta-filtro {
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 1000px) {
  .link-footer {
    display: flex;
    flex-direction: row;
    margin: 0%;
    justify-content: space-between;
  }
}

/* PAGINA CITIES */

.cities {
  background-color: #bdd5ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

/* HEADER */
.headerContenedor {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  background-attachment:fixed;
}

.imagenHeader {
  position: absolute;
  object-fit: cover;
  height: 50vh;
  width: 100%;
  z-index: -1;
}

/* INPUT BUSQUEDA */
.input-contenedor {
  width: 50%;
 
}

/* TARJETAS */
.card-contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0 5vh 0;
  width: 100%;
}
.tarjetas:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.tarjetas {
  height: 40vh;
  width: 80%;
  margin: 2vh;
  transition: transform 1s;
}

.card-imagen {
  height: 100%;
  object-fit: cover;
}

.nombre-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0pt;
}

.card-title {
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0pt;
  color: white;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
}

/* CITY */

.nombre-ciudad {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-city {
  background-color: rgb(171, 171, 245);
  height: 100%;
}

/* ITINERARIES */

.card-itinerary {
  /* height: 100%; */
  width: 70%;
  margin-bottom: 3vh;
  background-color: black;
  font-size: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.titulo-itinerario {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-itinerary {
  background-color: rgba(43, 132, 233, 0.541);
  display: flex;
  justify-content: space-between;
  color: white;
}

.imagen-celebrity {
  border-radius: 50%;
  height: 20vh;
  width: 25%;
}

.celebrity-fondo {
  width: 100%;
  height: 30vh;
  background-color: rgb(0, 4, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-card {
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 2vh;
}

.money {
  display: flex;
  height: 5vh;
  flex-direction: row;
}
.favorito {
  display: flex;
  flex-direction: row;
}

.hashtag-container {
  width: 70vw;
  display: flex;
  justify-content: center;
}
.hashtag {
  width: 80%;
  margin-bottom: 2vh;
}

.alerta-itinerarios {
  margin-top: 3vh;
  padding: 3vh;
  height: 15vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
.mensaje-itinerarios {
  margin: 0%;
}

.boton-itinerario {
  background-color: black;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  width: 70%;
}
.boton-itinerario:hover {
  background-color: rgb(66, 65, 65);
}
.div.carrousel {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.footer-itinerario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: auto;
}
.carrousel-item {
  height: 40vh;
  width: 69vw;
}
.img-carrousel {
  position: relative;
  object-fit: cover;
  height: 30vh;
  width: 100%;
  background-position: center;
}

.carousel-indicators {
  margin: 0;
}

.nombre-actividad {
  background-color: rgba(3, 3, 3);
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}

.boton-cities {
  margin: 2vh;
  background-color: black;
}
.boton-cities:hover {
  background-color: rgb(66, 65, 65);
}

@media screen and (max-width: 495px) {
  .div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .card-itinerary {
    height: 85vh;
  }
  .imagen-celebrity {
    width: 35%;
  }

  .duration {
    margin-top: 3vh;
  }
  .favorito {
    display: flex;
    flex-direction: row;
  }

  .div-card {
    height: 10vh;
  }
}

/* SignUp */

.form-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background-color: #577399;
}

.formulario-signUp {
  height: 80%;
  width: 40%;
  padding: 2vh;
  border-radius: 5%;
  background-color: rgb(59, 59, 59);
  color: white;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.fondo-signUp {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.google {
  width: 100%;
  display: flex;
  justify-content: center;
}
.boton-contenedor {
  display: flex;
  justify-content: center;
}
.boton-form {
  width: 100%;
}

/* SIGN IN */
.foto-perfil {
  border-radius: 50%;
  height: 5vh;
}
.signIn-contenedor {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  min-height: 80vh;
  background-color: #bdd5ea;
}

.form-signIn {
  width: 30%;
  padding: 1rem;
  border-radius: 5%;
  background-color: #495867;
  color: white;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.img-signIn {
  /* position: absolute; */
  width: 30%;
  height: 30vh;
}

.bienvenida-sidenav {
  font-size: 1.5rem;
}

.comentario-contenedor {
  width: 70%;
}

.comentarios-cont {
  height: 100%;
  width: 70%;
}

.comentarios {
  border: 2px solid black;
  background-color: rgb(217, 226, 235);
  display: flex;
  height: 100%;
  margin-bottom: 2vh;
}
.datos-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 105);
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  width: 25%;
  text-align: center;
}
.imagen-usuario {
  border-radius: 50%;
  height: 50%;
}
.nombre-usuario {
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.comentario {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 2vh;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.comentario-botones {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  height: 100%;
}
.zona-comentario {
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding: 2vh;
}

.botones {
  display: flex;
  justify-content: end;
  height: 30%;
}
.input-comentario {
  width: 90%;
  margin-right: 2vh;
}
.comentario-editar {
  width: 75%;
}

.boton-editar {
  margin-right: 1vw;
}

.boton-editar-check {
  height: 30%;
}

.boton-like {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-right: 1vw;
  height: 6vh;
}

@media screen and (max-width: 495px) {
  .imagen-usuario {
    width: 100%;
  }
  .datos-usuario {
    width: 35%;
  }
  .botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .boton-editar {
    margin-bottom: 2vh;
    width: 100%;
  }
  .boton-editar-check {
    height: 100%;
  }
}
