html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.body{
  display: flex;
 
}
/* SIDENAV */
.hover-nav:hover{
  background-color: rgb(232, 232, 232);
  border-radius: 15%;

}
.navbar{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* HERO */
.heroContenedor{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.videoHero{
  position: absolute;
  object-fit: cover;
  height: 80vh;
  width: 100%;
  z-index: -1;
  border-radius: 0 0 85% 85% / 10%;

}
.bienvenida{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}

.mensaje{
  font-size: 3vh;
  background-color:rgb(255, 255, 255,0.5);
  padding: 1rem;
  text-align: center;
  }

  /* CALL TO ACTION */
.callToAction{
  height: 70vh;
  display: flex;
  background-color: lightcyan;
  
  }
.texto-call{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

  }

.boton-call{
  background-color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .boton-call:hover{
    background-color: rgb(138, 138, 255);
  }

/* CARROUSEL */
.titulo-carrousel{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0%;
  padding: 1rem;
}

.item{
background-color: rgb(171, 171, 245);
}

.imagen-cards{
  height: 100%;
  object-fit: cover;
  border-color: black;
  }
  
.card{
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-color: black;
  height: 80vh;
  transition: 1s;
    
 }

 .card-carousel:hover{
   transform:scale(1.1);
   }

.card-body{
  background-color: hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0%;
  margin: 0;
  color: white;
  height: 15vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.carousel-control-next-icon{
  background-color: black;
}
.carousel-control-prev-icon{
  background-color: black;
}

/* FOOTER */
.footer{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.copyright{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(238, 238, 70);
  }

.logos{
  padding: 1vh;
  background-color: white;
  border-radius: 30%;
}

.hover-footer:hover{
  background-color: rgba(232, 232, 232, 0.296);
  border-radius: 30%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 425px) {
  .carousel-control-next-icon{
    display: none;
  }
  .carousel-control-prev-icon{
    display: none;
  }


}

@media screen and (max-width: 767px){
 .footer-contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.link-footer{
  display: flex;
  flex-direction: row;
  }
.copyright{
  padding: .5rem;
  text-align: center;
  }
  .mensaje{
    margin-left: 10%;
    margin-right: 10%;
  }
  .alerta-filtro{
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media screen and (max-width:1000px) {
  .link-footer{
    display: flex;
    flex-direction: row;
    margin:0%;
    justify-content: space-between;
    }

}

/* PAGINA CITIES */

.cities{
  background-color: rgb(171, 171, 245);
}

/* HEADER */
.headerContenedor{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;}

.imagenHeader{
  position: absolute;
  object-fit: cover;
  height: 50vh;
  width: 100%;
  z-index: -1;
  }

  /* INPUT BUSQUEDA */
  .input-contenedor{
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5vh;
    padding: .5rem;
    background-color: black;
      }


/* TARJETAS */
.card-contenedor{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.tarjetas:hover{
  transform:scale(1.1)
  }

.tarjetas{
  height: 40vh;
  width: 80%;
  margin: 2vh;
  }


.card-imagen{
  height: 100%;
  object-fit: cover;
    }

.nombre-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0pt;
   }

.card-title{
  background-color: rgb(0, 0, 0,0.6);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0pt; 
  color: white;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;

}

/* CITY */

.nombre-ciudad{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.main-city{
  background-color: rgb(171, 171, 245);
  min-height: 40vh;

 
}

/* ITINERARIES */

.card-itinerary{
  height: 70vh;
  width: 70%;
  margin-bottom: 3vh;
  background-color: black;
  font-size: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.titulo-itinerario{
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-itinerary{
  background-color:rgba(43, 132, 233, 0.541);
  display: flex;
  justify-content: space-between;
  height: 80vh;
  color: white;

}
.card-accordion{
  height: 20vh;
}

.imagen-celebrity{
  border-radius: 50%;
  height: 20vh;
  width: 25%;
}

.celebrity-fondo{
  width: 100%;
  height: 30vh;
  background-color: rgb(0, 4, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-card{
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 2vh;
}

.money{
  display: flex;
  height: 5vh;
  flex-direction: row;
}
.favorito{
  display: flex;
  flex-direction: row;
}

.hashtag-container{
  width: 70vw;
   display: flex;
  justify-content: center;


}
.hashtag{
  width: 80%;
  margin-bottom: 2vh;
}

.alerta-itinerarios{
  margin-top: 3vh;
  padding: 3vh;
  height: 15vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;

}
.mensaje-itinerarios{
  margin: 0%;
}

.boton-itinerario{
  background-color: black;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;

}
.boton-itinerario:hover{
  background-color: rgb(66, 65, 65);
  
}

.boton-cities{
  margin: 2vh;
  background-color: black;
}
.boton-cities:hover{
  background-color: rgb(66, 65, 65);
}

@media screen and (max-width:495px) {
  .div-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    }
  .card-itinerary{
    height: 85vh;
  }
  .imagen-celebrity{
    width: 35%;
  }

  .duration{
    margin-top: 3vh;
  }
  .favorito{
    display: flex;
    flex-direction: row;
  }

  .div-card{
    height: 10vh;
  }

}

/* SignUp */

.form-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;

}

.formulario-signUp{
  height: 80%;
  width: 40%;
  padding: 2vh;
  border-radius: 5%;
  background-color: rgb(59, 59, 59);
  color: white;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fondo-signUp{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  
  }
.google{
  width: 60%;
  height: 6vh;
}
/* .div-form{
  display: flex;
  } */
/* 
  .boton-contenedor{
    display: flex;
    justify-content: center;
  }
  .boton-Up{
    display: flex;
    justify-content: center;
    width: 20%;
  } */

/* SIGN IN */
.foto-perfil{
  border-radius: 50%;
  height: 5vh;
}
.signIn-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

}

.form-signIn{
  width: 35%;
  padding: 2vh;
  border-radius: 5%;
  background-color: rgb(59, 59, 59);
  color: white;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fondo-signIn{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 80%;
}

.bienvenida-sidenav{
  font-size: 1.5rem;
}

.loader {
  width: 30px;
  height: 30px;
  border: 30px solid #f3f3f3;
  margin:5% auto;
  border-left: 30px solid   rgb(0, 0, 153);
  border-right: 30px solid rgb(0, 0, 153);
  border-radius: 50%;
  animation: spinIT 0.8s linear infinite;
  filter: drop-shadow(0px 0px 8px gray)
} 

@keyframes spinIT {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 

/* 
@media screen and (max-width:375px) {
   .formulario-signUp{
     
     
   }
   
}  */
